# Files types #
*.pages
*.pdf
*.tgz

# Specific files #
*/README.txt
oblig1/utskrift.txt
oblig1/dictionary.txt

# Compiled class file #
*.class

# Folders #
UkesOppgaver

# Log file #
*.log

# BlueJ files #
*.ctxt

# Mobile Tools for Java (J2ME) #
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
